@import "tailwindcss";
@import "./typography.css";
/* @tailwind base; */


.navbar-bg {
    background-color: #eae1d5;
}

.song-display-bg {
    background-color: #eee9e2;
}

.site-bg {
    background-color: #f5f3ef;
}

.lyricline-bg {
    background-color: #F0F0F0;
}